.container {
	padding-bottom: 50px;
	margin-left: 20px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar {
	border-radius: 0px;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}


.box {
	margin-left: 170px;
}

	.box p {
		margin-left: 20px;
	}

.mission h3 {
	margin-left: 200px;
}

.background {
	background: url("../img/sunset.jpg");
	background-size: 1000px 300px;
	margin-left: 60px;
	width: 1000px; 
	height: 300px;
	border: 2px solid black;
}

.transbox {
	width: 750px;
	height: 100px;
	margin-top: 100px;
	margin-left: 130px;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.6;
}

.transbox h3 {
	margin-left: 30px;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: bold;
}

.transbox p {
	margin-left: 60px;
	font-size: 15px;
	margin: ;
	font-weight: bold;
	color: #000000;
}

#filters {
	display: inline-block;
	padding: 10px;
	margin-bottom: 10px;
	width: 330px;
	border: solid black 2px;
}

#counselor_list {
	display: inline-block;
	width: 650px;
	padding: 10px;
	border: solid black 2px;
}

/*#map {
	display: inline-block;
	border: solid black 2px;
	width: 300px;
	height: 300px;
}*/




