.container {
	padding-bottom: 50px;
	padding-left: 20px;
	width: 1170px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar {
	border-radius: 0px;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}


.box {
	margin-left: 170px;
}

	.box p {
		margin-left: 20px;
	}

.mission h3 {
	margin-left: 200px;
}

.background {
	background: url("../img/sunset.jpg");
	background-size: 1000px 300px;
	margin-left: 60px;
	width: 1000px; 
	height: 300px;
	border: 2px solid black;
}

.transbox {
	width: 750px;
	height: 100px;
	margin-top: 100px;
	margin-left: 130px;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.6;
}

.transbox h3 {
	margin-left: 30px;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: bold;
}

.transbox p {
	margin-left: 60px;
	font-size: 15px;
	margin: ;
	font-weight: bold;
	color: #000000;
}

#filters, #map, #bio {
	vertical-align: top;
	display: inline-block;
	margin-left: 30px;
}

	#filters {
		padding: 10px;
		margin-bottom: 10px;
		width: 280px;
		height: 350px;
		border: solid black 2px;
	}

	#counselor_list {
		width: 650px;
		padding: 10px;
		border: solid black 2px;
	}

	#map {
		border: solid black 2px;
		width: 280px;
		height: 350px;
	}

	#bio {
		padding-left: 10px;
		border: solid black 2px;
		width: 380px;
		overflow: scroll;
		height: 500px;
	}

.welcome {
	border: solid black 2px;
	margin-left: 230px;
	margin-bottom: 10px;
	width: 600px;
	height: 80px;
	vertical-align: top;
}

#counselor_list {
	margin-top: 10px;
	width: 1100px;
}


