<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dashboard</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">

	<style>
      html, body {
        margin: 0;
        padding: 0;
      }

    </style>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
      <script type="text/javascript">

         $(document).ready(function(){
 
     
          
          window.initMap= function() {

            $.get("https://maps.googleapis.com/maps/api/geocode/json?address={{ session['current_zip_code'] }}&key=AIzaSyCVgv4xUH70VJdj1vAG9ze2IDVr3oH6mnc", function(res) {
                    latitude = res.results[0].geometry.location.lat;
                    longitude= res.results[0].geometry.location.lng;

                    var myLatLng = {lat: latitude, lng: longitude};

                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 15,
                      center: myLatLng
                    });

                    var marker = new google.maps.Marker({
                      position: myLatLng,
                      map: map,
                      title: 'Hello World!'
                    });

                    // this is the info window
                    var contentString = '<div id="content">'+ //container
                      '<div id="siteNotice">'+ //second div
                      '</div>'+ 
                      '<h5 id="firstHeading" class="firstHeading">Mentors</h5>'+
                      '<div id="bodyContent">'+
                      "<p>{{session['list_of_mentors']}}</p>"+
                      '</div>'+
                      '</div>'; //first div

                    var infowindow = new google.maps.InfoWindow({
                      content: contentString
                    });

                  marker.addListener('click', function() {
                      infowindow.open(map, marker);
                  });
            	}, "json");
                };
      })
    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVgv4xUH70VJdj1vAG9ze2IDVr3oH6mnc&callback=initMap"
    async defer></script>
	</head>	
	<body>			
		         	{% for mentor in session['mentors_in_zip'] %}
		         		{{mentor['username']}}
   					{% endfor %}
		<nav class="navbar navbar-inverse">
	  		<div class="container-fluid">
	    		<div class="navbar-header">
	      		<a class="navbar-brand" href="/">Hues of Blue</a>
	    		</div>
	    		<ul class="nav navbar-nav navbar-right">
	      			<li><a href="/dashboard"><span class="glyphicon glyphicon-home"></span> Home</a></li>
	      			<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	   			</ul>
	  		</div>
		</nav>

		<div class="container">

			<div class="welcome text-center">
				<h3>Welcome {{session['username']}}</h3>
			</div>

			<div class="top">
				<div id='filters'>				
					<form action='/filter'>
						<input type='checkbox' name='issue1' value='issue1'>
						<label>Anxiety</label>
									<br>
						<input type='checkbox' name='issue2' value='issue2'>
						<label>Depression</label>
									<br>
						<input type='checkbox' name='issue3' value='issue3'>
						<label>Stress</label>
									<br>
						<input type='checkbox' name='issue4' value='issue4'>
						<label>Substance Abuse</label>
									<br>
						<input type='checkbox' name='issue5' value='issue5'>
						<label>Self-Esteem</label>
									<br>
						<input type='checkbox' name='issue6' value='issue6'>
						<label>Relationships</label>
									<br>
						<input type='checkbox' name='issue7' value='issue7'>
						<label>Grief</label>
									<br>
						<input type='checkbox' name='issue8' value='issue8'>
						<label>General Support / Other</label>
									<br>
						<input type='submit' value='Filter' class='btn btn-primary'>
					</form>

				</div>

				<div id="bio">
						<h3>Name:  </h3>
						<h4>{{ session['username'] }}</h4>
						<h3>Concerns: </h3>
						<ul>
						{% for key, value in concern_info[0].iteritems() : %}
							{% if value == '1' %}
   								<li>{{ key }}</li>
   							{% endif %}
   						{% endfor %}
   						</ul>			
   						<h3>Bio: </h3>
   						<h4> {{ session['bio'] }} </h4>
   						<h3>Connections: </h3>
   						<h4>CONNECTIONS HERES</h4>

						<button type="button" class="btn btn-primary">Edit</button>
				</div>
				<div id="map">
	    		</div>
	    		
	    	</div>

	    	<div class="bottom">
				<div id='counselor_list'>
					{% for user in user_info %}
						<h3>Mentor Name: <a href="/profile/{{user['id']}}">{{user['username']}}</a></h3>
						<h4>Bio:</h4>
						<p>{{user['bio']}}</p>
						<h4>Why this person can help you:</h4>
						<p>{{user['form_q1']}}</p>
					{% endfor %}
				</div>	
			</div>	
		</div>
	</body>
</html>