<!Doctype html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<meta name=" " content=" "/>
<title>MENTOR REGISTER</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" href="styles.css"/>
<script>
$(document).ready(function(){
//jquery code goes here//
});
</script>
</head>
<body>
	<!-- begin navbar -->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Hues of Blue</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
	    </ul>
	  </div>
	</nav>
	<!-- end navbar -->
	<div class="container">
		<!-- begin register input -->
		<div class="row text-center">
			<div class="col-md-6">
				<h2 class="text-info">Please enter your information:</h2>
				<br>
				<form class="form-horizontal" role="form">
				  <div class="form-group">
				    <label class="control-label col-sm-3 text-info">First Name:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" id="first_name" placeholder="first_name" name="first_name">
				    </div>
				  </div>
			  	  <div class="form-group">
				    <label class="control-label col-sm-3 text-info">Last Name:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" id="last_name" placeholder="last_name" name="last_name">
				    </div>
				  </div>
			  	  <div class="form-group">
				    <label class="control-label col-sm-3 text-info">Email:</label>
				    <div class="col-sm-8">
				      <input type="email" class="form-control" id="email" placeholder="email" name="email">
				    </div>
			  	  <div class="form-group">
				    <label class="control-label col-sm-3 text-info">Zipcode:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" id="zipcode" placeholder="zipcode" name="zipcode">
				    </div>
				  </div>
				  </div>
			  	  <div class="form-group">
				    <label class="control-label col-sm-3 text-info">Password:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" id="password" placeholder="password" name="password">
				    </div>
				  </div>
			  	  <div class="form-group">
				    <label class="control-label col-sm-3 text-info">Confirm Password:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" id="confirm_password" placeholder="confirm_password" name="confirm_password">
				    </div>
				  </div>
			  	  <div class="form-group text-left">
				    <label class="control-label col-sm-3 text-info">What would you like to help with?:</label>
					<div class="checkbox">
					  <label><input type="checkbox" value="">Anxiety</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" value="">Depression</label>
					</div>
					<div class="checkbox disabled">
					  <label><input type="checkbox" value="" disabled>Stress</label>
					</div>
					<div class="checkbox disabled">
					  <label><input type="checkbox" value="" disabled>Substance Abuse</label>
					</div>					
					<div class="checkbox disabled">
					  <label><input type="checkbox" value="" disabled>Eating Disorders</label>
					</div>					
					<div class="checkbox disabled">
					  <label><input type="checkbox" value="" disabled>Eating Disorders</label>
					</div>					
					<div class="checkbox disabled">
					  <label><input type="checkbox" value="" disabled>Self-esteem</label>
					</div>					
					<div class="checkbox disabled">
					  <label><input type="checkbox" value="" disabled>Relationships</label>
					</div>					
					<div class="checkbox disabled">
					  <label><input type="checkbox" value="" disabled>Loss</label>
					</div>
					<div class="checkbox disabled">
					  <label><input type="checkbox" value="" disabled>General Suppor/Other</label>
					</div>
				  </div> 
				</form>
			</div>
		</div>
		<!-- end register input -->
	</div>
</body>
</html>




