<!Doctype html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<meta name=" " content=" "/>
<title>MENTOR REGISTER</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
<script>
$(document).ready(function(){
//jquery code goes here//
});
</script>
</head>
<body>
	<!-- begin navbar -->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Hues of Blue</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
	      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	    </ul>
	  </div>
	</nav>
	<!-- end navbar -->
	<div class="container">
		{% with messages = get_flashed_messages() %}
           {% if messages %}
             {% for message in messages %}
               <p>{{message}}</p>
             {% endfor %}
           {% endif %}
        {% endwith %}
		<!-- begin register input -->
		<div class="row text-center">
			<div class="col-md-6">
				<h2 class="text-info">Please enter your information:</h2>
				<br>
				<form action='/user_create' method='post'class="form-horizontal" role="form">
					<div class="form-group">
				    	<label class="control-label col-sm-3 text-info">First Name:</label>
				    	<div class="col-sm-8">
				      	<input type="text" class="form-control" id="first_name" placeholder="Enter your Firstname" name="first_name">
				    	</div>
				  	</div>
			  	  	<div class="form-group">
				    	<label class="control-label col-sm-3 text-info">Last Name:</label>
				    	<div class="col-sm-8">
				      	<input type="text" class="form-control" id="last_name" placeholder="Enter your Lastname" name="last_name">
				    	</div>
				  	</div>
			  	  	<div class="form-group">
				    	<label class="control-label col-sm-3 text-info">Email:</label>
				    	<div class="col-sm-8">
				      	<input type="email" class="form-control" id="email" placeholder="Enter an email" name="email">
				    	</div>
				    </div>
			  	  	<div class="form-group">
				    	<label class="control-label col-sm-3 text-info">Zipcode:</label>
				    	<div class="col-sm-8">
				      	<input type="text" class="form-control" id="zip_code" placeholder="Enter a zipcode" name="zip_code">
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<label class="control-label col-sm-3 text-info">Username:</label>
				    	<div class="col-sm-8">
				      	<input type="text" class="form-control" id="username" placeholder="Enter your Username" name="username">
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<label class="control-label col-sm-3 text-info">Password:</label>
				    	<div class="col-sm-8">
				      	<input type="text" class="form-control" id="password" placeholder="Enter a password" name="password">
				    	</div>
				  	</div>
			  	  	<div class="form-group">
				    	<label class="control-label col-sm-3 text-info">Confirm Password:</label>
				    	<div class="col-sm-8">
				     	<input type="text" class="form-control" id="confirm_password" placeholder="Confirm your password" name="confirm_password">
				    	</div>
				    </div>
				<div class='form-group text-left'>	
					<div class='col-sm-5'>
						<p class="text-info text-left">What brings you to this site?</p>
						<textarea rows="4" cols="50" name='form_q1'></textarea>

						<p class="text-info text-left">About me:</p>
										
						<textarea rows="4" cols="50" name='bio'></textarea>		    
					 <h3 class="text-info text-left">What would you like help with?</h3>
						<div class="checkbox">
    						<label>
      						<input type="checkbox" name='concerns'  value='anxiety'>Anxiety
    						</label>
    					<br>
    						<label>
      						<input type="checkbox" name='concerns' value='depression'>Depression
    						</label>
    					<br>
    						<label>
      						<input type="checkbox" name='concerns' value='stress'>Stress
    						</label>
    					<br>		
    						<label>
      						<input type="checkbox" name='concerns' value='substance_abuse'>Substance Abuse
    						</label>
    					<br>
    						<label>
      						<input type="checkbox" name='concerns' value='eating_disorders'>Eating Disorders
    						</label>
    					<br>
    						<label>
      						<input type="checkbox" name='concerns' value='self_esteem'>Self-Esteem
    						</label>
    					<br>
    						<label>
      						<input type="checkbox" name='concerns' value='relationships'>Relationships
    						</label>
    					<br>
    						<label>
      						<input type="checkbox" name='concerns' value='grief'>Grief
    						</label>
    					<br>
    						<label>
      						<input type="checkbox" name='concerns' value='other'>General Support / Other
    						</label>
    					<br>
    					<br>	
  					</div>
  					<label>
      				Would you like to be a mentor?</label>
      				<select name='mentor'>
      					<option>No</option>
      					<option>Yes</option>
      				</select>
  					<button type="submit" class="btn btn-primary">Register</button>

  				</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>




