<html>
<head>
	<title>Private</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
		<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
   			<div class="navbar-header">
      			<a class="navbar-brand" href="#">Different Hues of Blue</a>
    		</div>
    		<ul class="nav navbar-nav navbar-right">
      			<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
     			<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
   			</ul>
  			</div>
		</nav>
		<div class="container">
			<div class ="aboutme col-md-8 col-md-offset-2">
				<div class = "row">
					<div class = "prof_info" style="display: inline-block">
						<h2 style ="display: inline-block">About Me</h2>
						<p>Name: </p>
						<p>Description: </p>
					</div>
				</div>
			</div>

		<div class ="connections col-md-8 col-md-offset-2">
			<h3>Connections</h3>
			<table class="table table-striped">
	    		<thead>
	      		<tr>
			       	<th>First name</th>
			        <th>Last name</th>
			        <th>Profile</th>
	     	 	</tr>
	    		</thead>
	    		<tbody>
	      		<tr>
			        <td>John</td>
			        <td>Doe</td>
			        <td><a href="">LINK</a></td>

			      </tr>
			      <tr>
			        <td>Mary</td>
			        <td>Moe</td>
			        <td><a href="">LINK</a></td>
			      </tr>
			      <tr>
			        <td>July</td>
			        <td>Dooley</td>
			        <td><a href="">LINK</a></td>
			      </tr>
			    </tbody>
			  </table>
		</div>
		<div class ="requests col-md-8 col-md-offset-2">
			<h3>Requested Connections</h3>
			<table class="table table-striped">
	    		<thead>
	      		<tr>
			       	<th>First name</th>
			        <th>Last name</th>
			        <th>Profile</th>
			       
	     	 	</tr>
	    		</thead>
	    		<tbody>
	      		<tr>
			        <td>John</td>
			        <td>Doe</td>
			        <td><a href="">LINK</a></td>
			   
			      </tr>
			      <tr>
			        <td>Mary</td>
			        <td>Moe</td>
			        <td><a href="">LINK</a></td>
			       
			      </tr>
			      <tr>
			        <td>July</td>
			        <td>Dooley</td>
			        <td><a href="">LINK</a></td>

			      </tr>
			    </tbody>
			  </table>

		</div>


	</div>
</body>
</html>