<!Doctype html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<meta name=" " content=" "/>
<title>WELCOME PAGE</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">

<script>
$(document).ready(function(){
//jquery code goes here//
});
</script>
</head>
<body>
	<!-- begin navbar -->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Hues of Blue</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="/login"><span class="glyphicon glyphicon-heart"></span> Login/Register</a></li>
	    </ul>
	  </div>
	</nav>
	<!-- end navbar -->
	<div class="container">
		<div class="mission text-center text-info">
			<h3>Hues of Blue: Providing support for anyone, anywhere, anytime</h3>
		</div>
		<br>
		<br>
		<div class="background">
			<div class="transbox">
			<h3>Start where you are. Use what you have. Do what you can.</h3>
			<p>-Arthur Ashe</p>
			</div>
		</div>
		<br>
		<br>
		<div class="second_background">
			<div class="transbox">
			<h3>What you do today can improve all your tomorrows.</h3>
			<p>-Ralph Marston</p>
			</div>
		</div>
		<br>
		<br>
		<div class="box text-info">
			<h4>What we do-</h4>
			<p>Hues of Blue is a unique way of connecting people seeking help with caring mentors who are driven to improve the quality of life of their mentees. No matter what you are going through, you are never alone. Somebody somewhere has been where you are now, and  has the wisdom and insight to help you through your current struggles. Our goal is to connect you with this somebody.</p>
		</div>
		<br>
		<div class="box text-info">
			<h4>What you can do-</h4>
			<p>If you have overcome a difficult experience or are passionate about helping others, sign up to join our community of mentors!</p>
		</div>
	</div>
</body>
</html>




