<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
      <script type="text/javascript">

         $(document).ready(function(){
          
          window.initMap= function() {
            $.get("https://maps.googleapis.com/maps/api/geocode/json?address=95113&key=REPLACE", function(res) {
                    latitude = res.results[0].geometry.location.lat;
                    longitude= res.results[0].geometry.location.lng;

                    var myLatLng = {lat: latitude, lng: longitude};

                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 15,
                      center: myLatLng
                    });

                    var marker = new google.maps.Marker({
                      position: myLatLng,
                      map: map,
                      title: 'Hello World!'
                    });

                    // this is the info window
                    var contentString = '<div id="content">'+ //container
                      '<div id="siteNotice">'+ //second div
                      '</div>'+ 
                      '<h1 id="firstHeading" class="firstHeading">Mentors</h1>'+
                      '<div id="bodyContent">'+
                      '<p>this will be a list of all the mentors</p>'+
                      '</div>'+
                      '</div>'; //first div

                    var infowindow = new google.maps.InfoWindow({
                      content: contentString
                    });

                  marker.addListener('click', function() {
                      infowindow.open(map, marker);
                  });
            }, "json");
                };


      })
    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key=REPLACE&callback=initMap"
    async defer></script>

  </head>
  <body>
    <div id="map">
    </div>
  </body>
</html>