<!DOCTYPE html>
<html>
<head>
	<title>Public Profile</title>
	<meta charset="utf-8">
		<title>Homepage</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="homepage.css">
</head>
<body>
	<nav class = "navbar navbar-inverse">
	    <div class="navbar-header">
	    	<a class="navbar-brand" href="#">Different Hues of Blue</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	    	<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
	    </ul>
	  	</nav>
	<div class='container'>
		<div id='counselor_info' class='col-md-offset-4'>
			<img src="profile_default.png">
			<h3>Counselor Name: {{Test}}</h3>
			<h3>Issues this Counselor can help you with: {{Test}}</h3>
			<h3>Background Info: {{Test}}</h3>
			<h3>Preferred Method of Interaction: {{Test}}</h3>
			<button type="button" class="btn btn-primary btn-lg btn-block">Connect</button>
		</div>
	</div>
</body>
</html>